@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('iconfont.ttf?t=1626701208783') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    margin-right: 10px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wupinguanli:before {
    content: "\e6ce";
}

.icon-yonghu:before {
    content: "\e603";
}

.icon-dingdanguanli:before {
    content: "\e627";
}

.icon-tongjitu:before {
    content: "\e623";
}

.icon-quanxian:before {
    content: "\e60a";
}