* {
    padding: 0;
    margin: 0;
}


/* @font-face {
    font-family: 'iconfont';
    src: url('myfont/iconfont.ttf?t=1626701208783') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */